<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <center>
    <h1>تم توثيقك بنجاح .. جيب خويك يوثق و تعالو اسلمكم  ✅</h1>
    <p>نورت جيب كل اصدقائك و استلم مليار <%= user ? user.username : "Guest" %></p>
  </center>
</body>
</html>
